{
    "env": {
      "node": true,
      "mocha": true,
      "es6": true
    },
    "extends": "airbnb-base",
    "rules": {
      "func-names": ["error", "never"],
      "no-underscore-dangle": "off",
      "no-unused-expressions": "off"
    }
  }
